* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.App{
  background-color: black;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
main{
  min-height: 100vh;
  background-color:gray;
}